
.header {
  background-color: grey;
  height: 100px;
  width: 750px;
  border: solid 1px black;
  margin: 10px;
}

#code-logo {
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
  float: left;
}

.fas {
  font-size: 7vh;
  float: right;
  padding-right: 15px;
  padding-top: 15px;
}

.fa-bars{
  font-size: 7vh;
  float: right;
  padding-right: 15px;
  padding-top: 15px;
}

h1 {
  float: left;
  padding-left: 15px;
}
