.nav-menu {
  float: right;
  padding-top: 10px;
}

#new-book-button {
  padding: 10px;
  margin-right: 5px;
}

#home-button {
  margin-top: 18px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

#new-form {
 border: solid 1px black;
 display: inline-block;
}

h5 {
  text-align: center;
  font-size: 25px;
}